/*------------------------------------------------------------------ [Master Stylesheet] Version: 1.0 Created: 7/4/2021 Author Name: themeix Primary use: Fikza template -------------------------------------------------------------------*/
body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.125rem;
    line-height: 1.77;
    font-weight: 400;
    color:#0F172A;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', sans-serif;
    line-height: 1.3;
}

body {

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.underline-hover {
    display: inline;
    background-image: linear-gradient(rgba(0, 0, 0, 0) calc(99% - 1px), #38BDF8 1px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    -webkit-transition: background-size 0.5s;
    transition: background-size 0.5s;
}

.underline-hover:hover {
    background-size: 100% 100%;
}



.btn {
    transition: 0.5s;
    display: inline-block;
    vertical-align: right;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1e1e1e;
    border-color: #1e1e1e;
    transform: scaleX(0);
    transform-origin: 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.btn:hover {
    color: white;
    background: #1e1e1e;
    border-color: #1e1e1e;
    transition: 0.5s;
}

.btn:hover:before {
    transform: scaleX(1);
}

.btn:hover svg {
    fill: white;
    
}
.btn:hover path {
    fill: white;
    
}

.arrow-hover svg {
    transition: transform 0.5s;
}

.arrow-hover:hover svg {
    transform: translateX(10px);
}

.down-hover svg {
    transition: transform 0.5s;
}

.down-hover:hover svg {
    transform: translateY(5px);
}



@media all and (min-width: 1024px) {
   
    .navbar-nav li a:not(.btn) {
        padding: 16px;
        transition: color 0.5s;
    }

    .navbar-nav li a:not(.btn):hover {
        color: #007fb3;
    }

    .navbar-nav .dropdown .dropdown-toggle {
        position: relative;
        padding-right: 30px !important;
    }

    .navbar-nav .dropdown .dropdown-toggle .sub-toggle {
        display: none;
    }

    .navbar-nav .dropdown .dropdown-toggle:after {
        content: "";
        background-image: url(../images/header/down-arrow.svg);
        background-repeat: no-repeat;
        width: 11px;
        height: 7px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto;
    }

    .navbar-nav .dropdown .dropdown-menu {
        min-width: 180px;
        background-color: #fff;
        position: absolute;
        top: 95%;
        -webkit-transform: translateY(-3%);
        transform: translateY(-3%);
        transition: transform 0.5s, opacity 0.5s;
        box-shadow: 0 80px 80px 0 #115976 26;
        opacity: 0;
        visibility: hidden;
        z-index: 222;
    }

    .navbar-nav .dropdown .dropdown-menu li {
        position: relative;
    }

    .navbar-nav .dropdown .dropdown-menu li a {
        font-weight: 400;
        padding: 8px 16px;
        display: block;
        white-space: nowrap;
    }

    .navbar-nav .dropdown .dropdown-menu .dropdown-toggle::after {
        transform: rotate(-90deg);
    }

    .navbar-nav .dropdown .dropdown-menu.dropdown-submenu {
        left: 100%;
        top: 0px !important;
    }

    .navbar-nav>li.dropdown:hover>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    .navbar-nav .dropdown-menu>li:hover>.dropdown-submenu {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 1024px) {
    .mobile-menu {
        box-shadow: 0 80px 80px 0 #115976 26;
        position: absolute;
        top: 110%;
        z-index: 1;
        width: 100%;
        background: #fff; 
        padding: 30px;
    }

    .mobile-toggle {
        width: 55px;
        height: 40px;
        display: block;
        background-color: transparent;
        position: relative;
        right: 0;
        z-index: 5;
        position: absolute;
        margin-right: -12px;
    }

    .mobile-toggle span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #1e1e1e;
        position: absolute;
        top: 10px;
        left: 9px;
        border-radius: 3px;
    }

    .mobile-toggle span:nth-child(2) {
        top: 19px;
      
    }

    .mobile-toggle span:nth-child(3) {
      
        top: 28px;
    }

    .mobile-toggle.open span:nth-child(1) {
        top: 20px;
        transform: rotate(-45deg);
        
    }

    .mobile-toggle.open span:nth-child(2) {
        top: 20px;
        opacity: 0;
    }

    .mobile-toggle.open span:nth-child(3) {
        top: 20px;
        transform: rotate(45deg);
    }

    .navbar-nav li {
        margin: 15px 0;
    }

    .navbar-nav li a:hover {
        color: #007fb3;
    }

    .navbar-nav li .btn {
        background-color: transparent;
        color: #1e1e1e;
        padding: 0;
    }

    .navbar-nav li:last-child {
        margin-bottom: 0;
    }

    .navbar-nav .dropdown .dropdown-toggle {
        position: relative;
        display: block;
    }

    .navbar-nav .dropdown .dropdown-toggle .sub-toggle {
        display: block;
        font-size: 1.7rem;
    
        line-height: 1;
        height: 28px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar-nav .dropdown .dropdown-menu {
        display: none;
    }

    .navbar-nav .dropdown .dropdown-menu li {
        padding-left: 10px;
    }
}



.dropdown-menu a:hover path {
    fill: #007FB3;
}

.dropdown a:hover path {
    fill: #007FB3;
}

.header-sticky {
    background-color: #ffffff;
    position: fixed;
    top: 0 !important;
    animation: header-top 0.5s ease;
    right: 0 !important;
    left: 0 !important;
    z-index: 9999;
    opacity: 9999 !important;


}


.subscribe-btn .btn{
    display: block !important;
}
.btn-block{
    display: block !important;
}

.nice-select {
   
    border: solid 2px #0C4A6E;
    height: 47px;

   
}
.important-flex{
    display: flex ;
}


.cta-background{
    background-image: url(../images/Articles/cta.jpg);
}



.podcast-icon-show:hover .podcast-icon-hover{
    opacity: 100;
}

.podcast-icon li a{
    transition: .5s;
}



.logo-item img{
    height: 100px;
}
.books-box:hover .books-box-hover{
    opacity: 10;
}
.testimonial-slider .slick-slide{
    margin: 0 30px;
}
.testimonial-slider  .slick-list {
    margin: 0 -30px;
}



.testimonial-area .slider-arrows .slider-prev, .slider-arrows .slider-next {
	width: 33px;
	height: 30px;
	text-align: center;
	padding: 4px 0;
	left: -55px;
	border: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.testimonial-area .slider-arrows .slider-next {
	left: auto;
	right: -55px;
}

.testimonial-area .slider-arrows button:hover path{
   stroke: #0EA5E9;
}

@media (min-width: 991px) { 
    
 }
 @media (min-width: 768px) { 
    .hero-area {
        height: 935px !important;
    }
    .cta-box{
        background-image: url(../images/index-1/cta.jpg);
    }
    .cta-background-about{
        background-image: url(../images/about/about-cta.jpg);
    }
 }


 @media (min-width: 640px) { 
   
 }

 .hero-area {
    height:492px
}
.gallery-images:hover .gallery-show{
    opacity: 10;
}
.topics-box:hover h3{
    color: white;
}
.topics-box:hover path{
    fill:white
}

.vp-preview.vp-preview-cover {
    border-radius: 10px ;
}
.podcast-icon-show img{
    width: 100px;
}
.podcast-icon-hover img{
    width: 100px;
}


@media (min-width: 1536px) {
    .container {
        max-width: 1316px;
    }
    }



